/* ==========================================================================
   Authors: Jason Ardener, Elise Worrall, Chris Jenkins, Joe Flood;
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
}

/* --------------------------
  Body
----------------------------- */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  border-top: 10px solid #9d2e2c;
  background: url('../img/bg.gif');
}

/* --------------------------
  Header
----------------------------- */

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 700%;
  padding: 30px 0;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}

nav ul li {
  display: inline;
  cursor: pointer;
  margin-right: 10px;
  color: #666;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li:hover {
  color: #000;
}

nav ul li:hover:after {
  color: #bbb;
}

nav ul li:after {
  margin-left: 10px;
  content: '/';
  color: #bbb;
}

nav ul li:last-child:after {
  content: '';
}

nav ul li:hover {
  color: #000;
}

nav ul li:hover:after {
  color: #bbb;
}

a:link {text-decoration:none;}
a:visited {color: #666;}
a:hover {color: #000;}
a:active {text-decoration:none;}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 10px;
}

line {
  stroke: #fff;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

.container {
  width: 90%;
  overflow: auto;
}

.nText:hover {
  cursor: pointer;
  font-weight: bold;
}

